# Python stuff:
.venv/
__pycache__/
*.pyc

# Vite stuff:
client/dist/
node_modules/

# Dev Stuff
.vscode/
.claude/
.kilo/

# Live event state:
server/data/
server/datasets/Lookup_FCC.sqlite
server/datasets/Lookup_CA.sqlite

# dataparser files which should not be commited:
server/data-parsers/Canada/geocode_cache/
server/data-parsers/Canada/amateur_delim.zip
server/data-parsers/Canada/amateur_delim.txt
server/data-parsers/Canada/ca_amateur.sqlite
server/data-parsers/Canada/update_run.log
server/data-parsers/FCC/geocode_cache/
server/data-parsers/FCC/l_amat.zip
server/data-parsers/FCC/update_run.log
server/data-parsers/FCC/fcc_amateur.sqlite
server/data-parsers/POTA/all_parks_ext.csv