# Python stuff:
.venv/
__pycache__/
*.pyc

# Vite stuff:
client/dist/
node_modules/

# Dev Stuff
.vscode/
.claude/
.kilo/

# Live event state:
server/data/

# server files which should not be commited:
server/datasets/lookup_data.sqlite

# dataparser files which should not be commited:
server/data-parsers/lookup_data.sqlite
server/data-parsers/ultracheck.sqlite
server/data-parsers/caches
server/data-parsers/downloads
server/data-parsers/logs